{% extends "layout.html" %}
{% block title %}Page{% endblock %}
{% block body %}
<h1>Page</h1>
Hi, I'm page2. Have you checked out page1. It is far less exciting!
<a href="{{ url_for('root') }}">back to home</a>
{% endblock %}
