{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<h1>Under development</h1>
This website is under development. See below for a list of development pages<br />
{% for view, args in pages %}
<a href="{{ url_for(view, **args) }}">{{ args['page'] }}</a><br />
{% endfor %}
{% endblock %}
